PORT=5000
DB_PORT=14238
DB_HOST=crossover.proxy.rlwy.net
DB_USER=root
DB_PASSWORD=MvOVbhrwgsGEHJsgNClqWkjdsJRHdVtY
DB_NAME=railway
JWT_SECRET=prelaunch_secret_key_9988
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
FROM_NAME=Trade Crypto
FRONTEND_URL=http://localhost:5173
NODE_ENV=development